*{
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3em;
}

div.card{
    padding:10px;
    border-radius: 10px;
    text-align: center;
    div{
        margin-top:20px;
    }
}
button,input{
    padding:10px;
}
button.action{
    font-size: 1.5em;
}
button.fullWidth{
    position: relative;
    width: 100%;
}